.potential_match__card {
  height: 600px;
  width: 400px;
  box-shadow: 10px 5px 5px black;
  margin: 10px;
  border: 1px solid black;
  position:absolute;
  background-color: white;
}

.tindercard_image__div {
  height: 300px;
  width: 380px;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
