/* TODO Add site wide styles */
/* I DONT WANNA :'( */

/* I found instructions for importing a font here:
 https://css-tricks.com/snippets/css/using-font-face/ */

@font-face {
  font-family: "Draconis";
  src: url("./fonts/draconis/Draconis-JRw6B.ttf");
}

* {
  font-family: "Draconis";
  box-sizing: border-box;

}

body {
  margin: 0px;
  overflow: hidden;
}

button {
  border-radius: 4px;
  border: none;
  box-shadow: 3px 3px 1px 1px;
  margin: 3px;
}

.app_container__div {
  background-color: black;
  font-family: "Draconis";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url(https://i.imgur.com/lqFniyN.jpeg);
  background-size: cover;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  background-color: rgb(188,15,15);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px rgb(188,15,15);
}

.splash_signuplogin__div {
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 500px;
  background-color: rgba(61, 61, 61, 0.755);
  align-self: center;
  box-shadow: 1px 1px 2px 2px
}

.splash_signuplogin__div form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
  min-height: 50%;
  min-width:80%;
  justify-content: space-around;
}

.form__div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form__field {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

label {
  max-width: 150px;
  margin-right: 5px;
}

.form__input{
  width: 225px;
  box-shadow: 0px 0px 4px 2px;
  border: none;

}

.footer__div {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(10, 10, 10, 0.755);
  box-sizing: border-box;
  align-items: center;
}

.footer__div img {
  align-items: center;
  height: 30px;
}

.github__link img {
  background-color: aliceblue;
  border-radius: 4px;
}

.signup_form__div,
.login_form__div {

}

.potential_match__card {
  height: 600px;
  width: 400px;
  box-shadow: 10px 5px 5px black;
  margin: 10px;
  border: 1px solid black;
  position:absolute;
  top: 18%;
  left: 10%;
  background-color: white;

}

.tindercard_image__div {
  height: 300px;
  width: 100%;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;

}

.userpage_main__div {
  max-height: 85%;
  width: 500px;
  align-self: center;
  box-shadow: 1px 1px 2px 2px;
  background-color: rgba(61, 61, 61, 0.755);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.userpage_main__div img {
  max-height: 450px;
  max-width: 490px;
}

.usergroup_container__div {
  max-height: 85%;
  width: 500px;
  align-self: center;
  box-shadow: 1px 1px 2px 2px;
  background-color: rgba(61, 61, 61, 0.755);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.usergroup_container__div img {
  max-height: 450px;
  max-width: 490px;
}



.newgroup_form__div {
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 500px;
  background-color: rgba(61, 61, 61, 0.755);
  align-self: center;
  box-shadow: 1px 1px 2px 2px
}

.newgroup_form__div form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
  min-height: 75%;
  min-width:80%;
  justify-content: space-around;
}

.newgroup_form__div textarea {
  height: 52px;
}

.chats_container__div {
  height: 100%;
  background-color: rgba(61, 61, 61, 0.755);
}

.chats_with_groups__div {
  margin: 5px;
  height: 49%;
  width: 49%;
  background-color: rgba(85, 66, 29, 0.755);
  box-shadow: 1px 1px 1px 1px;
}

.chats_with_users__div {
  margin: 5px;
  height: 49%;
  width: 49%;
  background-color: rgba(128, 55, 55, 0.755) ;
  box-shadow: 1px 1px 1px 1px;
}

.active_chat__div {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 49%;
  margin: 5px;
  padding: 3px;
  background-color: rgba(124, 124, 124, 0.755);
  box-shadow: 1px 1px 1px 1px;
}

.chat_link_info__div:hover {
  cursor: pointer;

}

.message_content__div {
}

.chat_input {
  width: 100%;
}

.message_username__div {
  font-size: .75em;
}

.message_text__div {
  font-size: 1.25em;
}

.none {
  display: none;
}

.tinderCard_title {
  font-size: .75rem;
}

.tinderCard_info__div{
  padding-bottom: 6px;
  padding-left: 6px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tinderCard_content {
  padding-bottom: 6px;
}

.tinderCard_info__div li {
  font-size: 1.25rem;
  list-style-type:none;
}
