/* TODO Add site wide styles */
/* I DONT WANNA :'( */

/* I found instructions for importing a font here:
 https://css-tricks.com/snippets/css/using-font-face/ */

@font-face {
  font-family: "Draconis";
  src: url("./fonts/draconis/Draconis-JRw6B.ttf");
}

* {
  font-family: "Draconis";
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Draconis";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(https://i.imgur.com/lqFniyN.jpeg);
  background-size: cover;
}

#root{

}
nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  background-color: rgb(188,15,15);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px rgb(188,15,15);
}

.splash_signuplogin__div {
  box-sizing: border-box;
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.footer__div {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  background-color: black;
  box-sizing: border-box;
  align-items: center;
}

.footer__div img {
  height: 30px;
}

.signup_form__div,
.login_form__div {

}
